body {
    background-color: rgb(0, 0, 0);

    font-family: Arial;

    display: flex;

    justify-content: center;
}

.card {
    background-color: rgb(155, 182, 82);

    width: 4000px;

    padding: 20px;

    margin-top: 50px;

    border-radius: 51px;

    box-shadow: 0px 0px 10px gray;
}

h1 {
    color: darkblue;

    text-align: center;
}

h2 {
    color: black;
}

h3 {
    color: darkred;
}

p {
    font-size: 16px;
    padding: 10px
}

a {
    text-decoration: none;

    color: rgb(255, 0, 0);
    
    font-weight: bold;

    padding: 20px;

a:hover {
    
    color: red;
    background-color: white;
}